.no-last-child-bottom-padding > *:last-child {
  padding-bottom: 0 !important;
}

.no-last-child-bottom-padding {
  font-weight: 500;
}

.emphasized {
  position: relative;
  /* top:0 */
}

.emphasized .inner {
  /* outline: solid green 2px; */
}

.outline {
  position: absolute;
  /* outline: solid red 4px; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}
